/*********************
VARIABLES
*********************/

$roboto: 'Roboto', sans, lightcyan;
$bgColor: #060606;
$defaultButtonBG: rgb(66,66,66);
$primaryButtonBG: rgb(42, 159, 214);
$successButtonBG: rgb(119, 179, 0);
$infoButtonBG: rgb(153, 51, 204);
$warningButtonBG: rgb(255, 136, 0);
$dangerButtonBG: rgb(204, 0, 0);
$pageBG: rgb(6, 6, 6);
$textColorWhite: rgb(255, 255, 255);
$panelContentColor: #8888A0;
$aLinkColorBlue: #2a9fd6;
$inputFont: #888888;
/*********************
SETUP
*********************/

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 24px;
}

body {
  background-color: $bgColor;
  color: $textColorWhite;
  font-family: $roboto;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,li,p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $aLinkColorBlue;
  text-decoration: none;
}

/*********************
GENERAL
*********************/

#pageWrapper {
  max-width: 900px;
  margin: 0 auto;
}

#siteTitleBlock {
  text-align: center;
  padding: 20px 0;

  h1 {
    font-size: 4rem;
    font-weight: lighter;
  }
}

#chat {
  width: 100%;
  height: 700px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 1px rgba(83,83,83,1);
  -moz-box-shadow: 0px 5px 20px 1px rgba(83,83,83,1);
  box-shadow: 0px 5px 20px 1px rgba(83,83,83,1);
}

/*********************
HEADER
*********************/

header {
  height: 10%;
  border-bottom: 1px solid gray;
  background-color: $defaultButtonBG;

  > div {
    height: 100%;
    width: 100%;
    display: none;
  }

  > div.active {
    display: flex;
  }
}

#headerLoggedOutBlock {
  justify-content: space-between;
  position: relative;

  #loggedOutLeft {
    display: flex;
    width: 25%;

    #loggedOutLeftLogo {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 50px;
        width: 50px;
        
      }
    }

    #loggedOutLeftCreate {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        font-size: .75rem;
/*         color: $aLinkColorBlue;
text-decoration: underline; */
      }
    }
  }

  #loggedOutRight {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;

    #loggedOutRightForm {
      width: 75%;
      height: 80%;
      display: flex;
      align-items: center;

      #logInForm {
        height: 100%;
        display: flex;

        > div {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          > div {
            height: 50%;
            text-align: center;

            > label {
              font-size: .75rem;
            }

            > input {
              width: 90%;
              height: 100%;
              margin: 0 auto;
            }

            >input[type=text] {
              font-size: .75rem;
            }
          }
        }

        #logInFormUsernameBlock {
          width: 40%;
        }

        #logInFormPasswordBlock {
          width: 40%;
        }

        #logInFormSubmitBlock {
          width: 20%;
          height: 100%;

          > input {
            height: 100%;
            background-color: white;
            border: 1px solid lightgreen;
            color: lightgreen;
            transition: all .25s ease;
            -webkit-transition: all .25s ease;

            &:hover {
              color: white;
              background-color: lightgreen;
            }
          }
        }
      }
    }

    #loggedOutRightError {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      #error {
        display: none;
        background-color: red;
        width: 90%;
        height: 80%;

        #errorSymbolBlock {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            &:before {
              color: white;
              font-size: .9rem;
            }
          }
        }

        #errorTextBlock {
          height: 50%;
          color: white;
          font-size: .65rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      #error.activeError {
        display: block;
      }
    }
  }

  #loggedOutCreate {
    position: absolute;
    background: lightgray;
    left: 0;
    top: 100%;
    width: 50%;
    padding: 20px 0;
    display: none;

    #createForm {
      width: 80%;
      margin: 0 auto;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        > div {
          width: 60%;

          &:first-child {
            width: 40%
          }

          > input {
            width: 100%;
          }

          >input[type=submit] {
            background-color: white;
            color: lightgreen;
            border: 1px solid lightgreen;
            transition: all .25s ease;
            -webkit-transition: all .25s ease;

            &:hover {
              color: white;
              background-color: lightgreen;
            }
          }
        }
      }
    }
  }

  #loggedOutCreate.activeCreate {
    display: block;
  }
}

#headerLoggedInBlock {
  #loggedInLeft {
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  #loggedInMiddle {
    width: 85%;
    height: 100%;

    #loggedInMiddleBlock {
      height: 100%;
      width: 40%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      #loggedInMiddleImage {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }

      #loggedInMiddleName {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #loggedInRight {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 95%;
      height: 70%;
      font-size: .6rem;
      background-color: white;
      color: red;
      border: 1px solid red;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
}

/*********************
MAIN
*********************/

main {
  display: flex;
  height: 78%;
}

/*********************
ASIDE
*********************/

aside {
  width: 25%;
  height: 100%;
  border-right: 1px solid gray;
}

#asideHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  background-color: $primaryButtonBG;
}

#asideMain {
  height: 90%;
}

.status {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $defaultButtonBG;
  border-bottom: 1px solid gray;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.statusImage {
  width: 25%;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.statusName {
  width: 50%;
  font-size: .8rem;
}

.statusOn {
  width: 25%;

  .statusOnCircle {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    border-radius: 50%;
  }
}

/*********************
SECTION
*********************/

section {
  width: 75%;
  height: 100%;
}

#sectionHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  background-color: $primaryButtonBG;
}

#sectionHeaderTitle {

}

#sectionMain {
  height: 90%;
  overflow: scroll;
  padding-bottom: 12.5px;
}

/*********************
MESSAGE
*********************/

.message {
  display: flex;
  flex-wrap: wrap;
  padding: 12.5px 0 0 0;

  &:last-child {
    .messageBorderBlock {
      display: none;
    }
  }
}

.messageInfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 125px;
}

.messageInfoImage {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.messageInfoName {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.messageContent {
  width: 72.5%;
}

.messageContentTime {
  color: gray;
  font-weight: lighter;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.messageDelete {
  width: 7.5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.messageDeleteCircle {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50%;
  font-weight: lighter;
  font-size: .75rem;
}

.messageDeleteX {
  position: absolute;
  top: .5px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.messageBorderBlock {
  width: 45%;
  height: 12.5px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

/*********************
FOOTER
*********************/

footer {
  height: 12%;
  border-top: 1px solid gray;
  background-color: $defaultButtonBG;
  color: black;

}

#footerBlock {
  width: 80%;
  height: 100%;
  margin: 0 auto;

}

#messageForm {
  height: 100%;
  display: flex;
  align-items: center;

  input {
    height: 70%;
  }

  #messageInput {
    width: 90%;
    padding-left: 2.5%;

    &:focus {
      outline: 0;
    }
  }

  #messageSubmit {
    width: 10%;
    font-weight: lighter;
    background-color: $successButtonBG;
    color: $textColorWhite;

  }
}
