/*********************
VARIABLES
*********************/
/*********************
SETUP
*********************/
html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 24px; }

body {
  background-color: #060606;
  color: white;
  font-family: "Roboto", sans, lightcyan; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  color: #2a9fd6;
  text-decoration: none; }

/*********************
GENERAL
*********************/
#pageWrapper {
  max-width: 900px;
  margin: 0 auto; }

#siteTitleBlock {
  text-align: center;
  padding: 20px 0; }
  #siteTitleBlock h1 {
    font-size: 4rem;
    font-weight: lighter; }

#chat {
  width: 100%;
  height: 700px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 1px #535353;
  -moz-box-shadow: 0px 5px 20px 1px #535353;
  box-shadow: 0px 5px 20px 1px #535353; }

/*********************
HEADER
*********************/
header {
  height: 10%;
  border-bottom: 1px solid gray;
  background-color: #424242; }
  header > div {
    height: 100%;
    width: 100%;
    display: none; }
  header > div.active {
    display: flex; }

#headerLoggedOutBlock {
  justify-content: space-between;
  position: relative; }
  #headerLoggedOutBlock #loggedOutLeft {
    display: flex;
    width: 25%; }
    #headerLoggedOutBlock #loggedOutLeft #loggedOutLeftLogo {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #headerLoggedOutBlock #loggedOutLeft #loggedOutLeftLogo img {
        height: 40px;
        width: 40px;
        border-radius: 50%; }
    #headerLoggedOutBlock #loggedOutLeft #loggedOutLeftCreate {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      #headerLoggedOutBlock #loggedOutLeft #loggedOutLeftCreate a {
        font-size: .75rem;
        /*         color: $aLinkColorBlue;
text-decoration: underline; */ }
  #headerLoggedOutBlock #loggedOutRight {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center; }
    #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm {
      width: 75%;
      height: 80%;
      display: flex;
      align-items: center; }
      #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm {
        height: 100%;
        display: flex; }
        #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm > div {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm > div > div {
            height: 50%;
            text-align: center; }
            #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm > div > div > label {
              font-size: .75rem; }
            #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm > div > div > input {
              width: 90%;
              height: 100%;
              margin: 0 auto; }
        #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm #logInFormUsernameBlock {
          width: 40%; }
        #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm #logInFormPasswordBlock {
          width: 40%; }
        #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm #logInFormSubmitBlock {
          width: 20%;
          height: 100%; }
          #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm #logInFormSubmitBlock > input {
            height: 100%;
            background-color: white;
            border: 1px solid lightgreen;
            color: lightgreen;
            transition: all 0.25s ease;
            -webkit-transition: all 0.25s ease; }
            #headerLoggedOutBlock #loggedOutRight #loggedOutRightForm #logInForm #logInFormSubmitBlock > input:hover {
              color: white;
              background-color: lightgreen; }
    #headerLoggedOutBlock #loggedOutRight #loggedOutRightError {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #headerLoggedOutBlock #loggedOutRight #loggedOutRightError #error {
        display: none;
        background-color: red;
        width: 90%;
        height: 80%; }
        #headerLoggedOutBlock #loggedOutRight #loggedOutRightError #error #errorSymbolBlock {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #headerLoggedOutBlock #loggedOutRight #loggedOutRightError #error #errorSymbolBlock span:before {
            color: white;
            font-size: .9rem; }
        #headerLoggedOutBlock #loggedOutRight #loggedOutRightError #error #errorTextBlock {
          height: 50%;
          color: white;
          font-size: .65rem;
          display: flex;
          justify-content: center;
          align-items: center; }
      #headerLoggedOutBlock #loggedOutRight #loggedOutRightError #error.activeError {
        display: block; }
  #headerLoggedOutBlock #loggedOutCreate {
    position: absolute;
    background: lightgray;
    left: 0;
    top: 100%;
    width: 50%;
    padding: 20px 0;
    display: none; }
    #headerLoggedOutBlock #loggedOutCreate #createForm {
      width: 80%;
      margin: 0 auto; }
      #headerLoggedOutBlock #loggedOutCreate #createForm > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; }
        #headerLoggedOutBlock #loggedOutCreate #createForm > div:last-child {
          margin-bottom: 0; }
        #headerLoggedOutBlock #loggedOutCreate #createForm > div > div {
          width: 60%; }
          #headerLoggedOutBlock #loggedOutCreate #createForm > div > div:first-child {
            width: 40%; }
          #headerLoggedOutBlock #loggedOutCreate #createForm > div > div > input {
            width: 100%; }
          #headerLoggedOutBlock #loggedOutCreate #createForm > div > div > input[type=submit] {
            background-color: white;
            color: lightgreen;
            border: 1px solid lightgreen;
            transition: all 0.25s ease;
            -webkit-transition: all 0.25s ease; }
            #headerLoggedOutBlock #loggedOutCreate #createForm > div > div > input[type=submit]:hover {
              color: white;
              background-color: lightgreen; }
  #headerLoggedOutBlock #loggedOutCreate.activeCreate {
    display: block; }

#headerLoggedInBlock #loggedInLeft {
  width: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #headerLoggedInBlock #loggedInLeft img {
    height: 40px;
    width: 40px;
    border-radius: 50%; }

#headerLoggedInBlock #loggedInMiddle {
  width: 85%;
  height: 100%; }
  #headerLoggedInBlock #loggedInMiddle #loggedInMiddleBlock {
    height: 100%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    #headerLoggedInBlock #loggedInMiddle #loggedInMiddleBlock #loggedInMiddleImage {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #headerLoggedInBlock #loggedInMiddle #loggedInMiddleBlock #loggedInMiddleImage img {
        height: 50px;
        width: 50px;
        border-radius: 50%; }
    #headerLoggedInBlock #loggedInMiddle #loggedInMiddleBlock #loggedInMiddleName {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }

#headerLoggedInBlock #loggedInRight {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #headerLoggedInBlock #loggedInRight button {
    width: 95%;
    height: 70%;
    font-size: .6rem;
    background-color: white;
    color: red;
    border: 1px solid red;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease; }
    #headerLoggedInBlock #loggedInRight button:hover {
      background-color: red;
      color: white; }

/*********************
MAIN
*********************/
main {
  display: flex;
  height: 78%; }

/*********************
ASIDE
*********************/
aside {
  width: 25%;
  height: 100%;
  border-right: 1px solid gray; }

#asideHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  background-color: #2a9fd6; }

#asideMain {
  height: 90%; }

.status {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #424242;
  border-bottom: 1px solid gray; }
  .status > div {
    display: flex;
    justify-content: center;
    align-items: center; }

.statusImage {
  width: 25%; }
  .statusImage img {
    height: 40px;
    width: 40px;
    border-radius: 50%; }

.statusName {
  width: 50%;
  font-size: .8rem; }

.statusOn {
  width: 25%; }
  .statusOn .statusOnCircle {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    border-radius: 50%; }

/*********************
SECTION
*********************/
section {
  width: 75%;
  height: 100%; }

#sectionHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  background-color: #2a9fd6; }

#sectionMain {
  height: 90%;
  overflow: scroll;
  padding-bottom: 12.5px; }

/*********************
MESSAGE
*********************/
.message {
  display: flex;
  flex-wrap: wrap;
  padding: 12.5px 0 0 0; }
  .message:last-child .messageBorderBlock {
    display: none; }

.messageInfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 125px; }

.messageInfoImage {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .messageInfoImage img {
    height: 60px;
    width: 60px;
    border-radius: 50%; }

.messageInfoName {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.messageContent {
  width: 72.5%; }

.messageContentTime {
  color: gray;
  font-weight: lighter;
  font-size: 0.8rem;
  margin-bottom: 5px; }

.messageDelete {
  width: 7.5%;
  text-align: center;
  display: flex;
  justify-content: center; }

.messageDeleteCircle {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 50%;
  font-weight: lighter;
  font-size: .75rem; }

.messageDeleteX {
  position: absolute;
  top: .5px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.messageBorderBlock {
  width: 45%;
  height: 12.5px;
  margin: 0 auto;
  border-bottom: 1px solid gray; }

/*********************
FOOTER
*********************/
footer {
  height: 12%;
  border-top: 1px solid gray;
  background-color: #424242;
  color: black; }

#footerBlock {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

#messageForm {
  height: 100%;
  display: flex;
  align-items: center; }
  #messageForm input {
    height: 70%; }
  #messageForm #messageInput {
    width: 90%;
    padding-left: 2.5%; }
    #messageForm #messageInput:focus {
      outline: 0; }
  #messageForm #messageSubmit {
    width: 10%;
    font-weight: lighter;
    background-color: #77b300;
    color: white; }
