/*********************
VARIABLES
*********************/
$headerColor: #424242;
$roboto: 'Roboto', sans, lightcyan;
$bgColor: #060606;
$defaultButtonBG: rgb(66,66,66);
$primaryButtonBG: rgb(42, 159, 214);
$successColor: rgb(119, 179, 0);
$successButtonBG: rgb(119, 179, 0);
$infoButtonBG: rgb(153, 51, 204);
$warningButtonBG: rgb(255, 136, 0);
$dangerButtonBG: rgb(204, 0, 0);
$pageBG: rgb(6, 6, 6);
$textColorWhite: rgb(255, 255, 255);
$panelContentColor: #8888A0;
$namesColor: #888888;
$aLinkColorBlue: #2a9fd6;
$inputFont: #888888;
$bordersGray: 1px solid #282828;
/*********************
SETUP
*********************/

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 24px;
}

body {
  background-color: $bgColor;
  color: $textColorWhite;
  font-family: $roboto;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,li,p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: $aLinkColorBlue;
  text-decoration: none;
}

/*********************
GENERAL
*********************/

#pageWrapper {
  max-width: 900px;
  margin: 0 auto;
}

#siteTitleBlock {
  text-align: center;
  padding: 20px 0;


  h1 {
    font-size: 4rem;
    font-weight: lighter;
  }
}

#chat {
  width: 100%;
  height: 700px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px 1px rgba(83,83,83,1);
  -moz-box-shadow: 0px 5px 20px 1px rgba(83,83,83,1);
  box-shadow: 0px 5px 20px 1px rgba(83,83,83,1);
}

/*********************
LANDING PAGE
*********************/


header {
  height: 10%;
  border-bottom: $bordersGray;
  background-color: $defaultButtonBG;

  > div {
    height: 100%;
    width: 100%;
    display: none;
  }

  > div.active {
    display: flex;
  }
}

#landingPage {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;


  #landingPageBlock {

    #landingPageTitleBlock {
      padding: 25px 0;
      h1 {
        font-size: 4rem;
        font-weight: lighter;
      }
    }

    #landingPageFormBlock {


      #landingPageForm {
        display: flex;
        flex-direction: column;

        #landingPageUsernameBlock {
          display: flex;
          flex-direction: column;
          align-items: center;

          > label {
            padding: 15px 0;
            font-weight: bolder;
            letter-spacing: 0.08rem;
          }

          > input {
            background-color: black;
            padding: 10px;
            width: 100%;

            &:focus {
              outline: 0;
            }
          }
        }

        #landingPageSubmitBlock {
          padding: 15px 0;

          > input {
            width: 100%;
            padding: 10px;
            background-color: black;
            border: 1px solid $successColor;
            font-weight: lighter;
            color: $successColor;
            transition: all .25s ease;
            -webkit-transition: all .25s ease;

            &:hover {
              color: white;
              background-color: $successColor;
            }
          }
        }
      }
    }
  }
}

/*********************
HEADER
*********************/

header {
  height: 10%;
  border-bottom: $bordersGray;
  background-color: $defaultButtonBG;

  > div {
    height: 100%;
    width: 100%;
    display: none;
  }

  > div.active {
    display: flex;
  }
}

#headerLoggedInBlock {

  #loggedInLeft {
    width: 85%;
    height: 100%;

    #loggedInLeftBlock {
      height: 100%;
      width: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      #loggedInLeftImage {
        width: 28%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }

      #loggedInLeftName {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #loggedInRight {
    height: 100%;
    width: 14.5%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 95%;
      height: 50%;
      font-size: .6rem;
      background-color: $defaultButtonBG;
      color: red;
      border: 1px solid red;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;

      &:hover {
        background-color: $dangerButtonBG;
        color: white;
      }
    }
  }
}

/*********************
MAIN
*********************/

main {
  display: flex;
  height: 78%;
}

/*********************
ASIDE
*********************/

aside {
  width: 25%;
  height: 100%;
  border-right: $primaryButtonBG;
}

#asideHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $bordersGray;
  background-color: $primaryButtonBG;
}

#asideMain {
  height: 90%;
  border: 1px solid black;
}

.status {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $defaultButtonBG;
  border-bottom: $bordersGray;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.statusImage {
  width: 25%;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.statusName {
  width: 50%;
  font-size: .8rem;
  color: $namesColor;
}

.statusOn {
  width: 25%;

  .statusOnCircle {
    height: 20px;
    width: 20px;
    background-color: $successColor;
    border-radius: 50%;
  }
}

/*********************
SECTION
*********************/

section {
  width: 75%;
  height: 100%;
}

#sectionHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $bordersGray;
  background-color: $primaryButtonBG;
}

#sectionHeaderTitle {

}

#sectionMain {
  height: 90%;
  overflow: scroll;
  padding-bottom: 12.5px;
  background-color: #888888;
}

/*********************
MESSAGE
*********************/

.message {
  display: flex;
  flex-wrap: wrap;
  padding: 12.5px 0 0 0;
  background-color: #888888;

  &:last-child {
    .messageBorderBlock {
      display: none;
    }
  }
}

.messageInfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 125px;
}

.messageInfoImage {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.messageInfoName {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  text-overflow:clip;
}

.messageContent {
  width: 72.5%;
  height: auto;
  background-color: #CCCCCC;
  border-radius: 4px;
  box-shadow: 3px 3px 0px 0px black;

}

.messageContentTime {
  color: $successColor;
  font-weight: lighter;
  font-size: 0.5rem;
  margin-bottom: 5px;
  margin-left: 2%;
  margin-top: 1%;
}

.messageContentTimeBlock {
  font-size: .5rem;
}

.messageContentText {
  margin-left: 2%;
  margin-right: 3%;
}

.messageDelete {
  width: 7.5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.messageDeleteCircle {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid $dangerButtonBG;
  border-radius: 50%;
  font-weight: lighter;
  font-size: .75rem;
  color: $dangerButtonBG;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;

  &:hover {
    background-color: $dangerButtonBG;
    color: $textColorWhite;
  }
}

.messageDeleteX {
  position: absolute;
  top: .5px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.messageBorderBlock {
  width: 85%;
  height: 12.5px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 14px 5px -5px rgba(136,136,136,0.25);
  -moz-box-shadow: 0px 14px 5px -5px rgba(136,136,136,0.25);
  box-shadow: 0px 14px 5px -5px rgba(136,136,136,0.25);
}

/*********************
FOOTER
*********************/

footer {
  height: 12%;
  border-top: 1px solid $bordersGray;
  background-color: $defaultButtonBG;
  color: black;
  border-top: 1px solid black;
  box-shadow: 0px -5px 5px 0px black;

}

#footerBlock {
  width: 80%;
  height: 100%;
  margin: 0 auto;

}

#messageForm {
  height: 100%;
  display: flex;
  align-items: center;

  input {
    height: 70%;
  }

  #messageInput {
    width: 90%;
    padding-left: 2.5%;

    &:focus {
      outline: 0;
    }
  }

  #messageSubmit {
    width: 10%;
    font-weight: lighter;
    border: 1px solid $successButtonBG;
    background-color: $defaultButtonBG;
    color: $successButtonBG;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;

    &:hover {
      background-color: $successButtonBG;
      color: $textColorWhite;
    }
  }
}
