/*********************
VARIABLES
*********************/
/*********************
SETUP
*********************/
html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 24px; }

body {
  background-color: #060606;
  color: white;
  font-family: "Roboto", sans, lightcyan; }

/* #credit {
  display: none;
} */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  color: #2a9fd6;
  text-decoration: none; }

/*********************
GENERAL
*********************/
#pageWrapper {
  max-width: 900px;
  margin: 0 auto; }

#siteTitleBlock {
  display: flex;
  justify-content: center;
  padding: 20px 0; }
  #siteTitleBlock #siteTitle {
    position: relative;
    left: 29px; }
    #siteTitleBlock #siteTitle img {
      position: absolute;
      left: -58px;
      height: 69px;
      top: 20px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    #siteTitleBlock #siteTitle h1 {
      font-size: 4rem;
      font-weight: lighter;
      color: white; }

#chat {
  width: 100%;
  height: 700px;
  border-radius: 5px;
  border: 5px solid #424242; }

/*********************
LANDING PAGE
*********************/
header {
  height: 10%;
  border-bottom: 1px solid #282828;
  background-color: #424242; }
  header > div {
    height: 100%;
    width: 100%;
    display: none; }
  header > div.active {
    display: flex; }

#landingPage {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center; }
  #landingPage #landingPageBlock {
    max-width: 500px; }
    #landingPage #landingPageBlock #landingPageTitleBlock {
      padding: 25px 0;
      text-align: center; }
      #landingPage #landingPageBlock #landingPageTitleBlock h1 {
        font-size: 4rem;
        font-weight: lighter; }
    #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm {
      display: flex;
      flex-direction: column; }
      #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock {
        position: relative;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock > label {
          padding: 15px 0;
          font-weight: bolder;
          letter-spacing: 0.08rem; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock > input {
          background-color: black;
          padding: 10px;
          width: 100%;
          border: 1px solid white; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock > input:focus {
            outline: 0; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock #landingPageUsernameErrorBlock {
          display: none;
          position: absolute;
          left: 104.75%;
          top: 0;
          height: 100%;
          width: 125px;
          border: 1px solid #cc0000; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock #landingPageUsernameErrorBlock #landingPageUsernameError {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center; }
            #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock #landingPageUsernameErrorBlock #landingPageUsernameError #usernameErrorIcon {
              height: 35%;
              width: 100%;
              background-color: #cc0000;
              display: flex;
              align-items: center;
              justify-content: center; }
            #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock #landingPageUsernameErrorBlock #landingPageUsernameError #usernameErrorText {
              height: 65%;
              font-size: .75rem;
              padding: 2.5px;
              text-align: center;
              font-weight: lighter;
              font-size: .7rem;
              display: flex;
              justify-content: center;
              align-items: center; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageUsernameBlock #landingPageUsernameErrorBlock.activeUsernameError {
          display: block; }
      #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock {
        width: 100%;
        border: 1px solid white;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock .landingPageImage {
          width: 22.5%;
          cursor: pointer;
          padding: 8px;
          margin: 8px 0;
          border: 1px solid black;
          transition: all .25s ease;
          -webkit-transition: all .25s ease; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock .landingPageImage:hover {
            border-color: #424242; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock .selectedUserImage {
          border-color: #77b300; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock .selectedUserImage:hover {
            border-color: #77b300; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock {
          display: none;
          position: absolute;
          left: 105%;
          top: 0;
          height: 100%;
          width: 125px;
          border: 1px solid #cc0000;
          text-align: center;
          align-items: center; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock #landingPageImageError {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center; }
            #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock #landingPageImageError > div {
              display: flex;
              align-items: center; }
            #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock #landingPageImageError #imageErrorIcon {
              height: 25%;
              width: 100%;
              background-color: #cc0000;
              display: flex;
              justify-content: center; }
              #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock #landingPageImageError #imageErrorIcon span {
                font-size: 1.75rem; }
                #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock #landingPageImageError #imageErrorIcon span:before {
                  color: white; }
            #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock #landingPageImageError #imageErrorText {
              height: 75%;
              font-weight: lighter;
              color: #cc0000; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageImagesBlock #landingPageImageErrorBlock.activeImageError {
          display: flex; }
      #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageSubmitBlock {
        padding: 15px 0; }
        #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageSubmitBlock > input {
          width: 100%;
          padding: 10px;
          background-color: black;
          border: 1px solid #77b300;
          font-weight: lighter;
          color: #77b300;
          transition: all .25s ease;
          -webkit-transition: all .25s ease; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageSubmitBlock > input:hover {
            color: white;
            background-color: #77b300; }
          #landingPage #landingPageBlock #landingPageFormBlock #landingPageForm #landingPageSubmitBlock > input:focus {
            outline: 0; }

/*********************
HEADER
*********************/
header {
  height: 10%;
  border-bottom: 1px solid #282828;
  background-color: #424242; }
  header > div {
    height: 100%;
    width: 100%;
    display: none; }
  header > div.active {
    display: flex; }

#headerLoggedInBlock #loggedInLeft {
  width: 85%;
  height: 100%; }
  #headerLoggedInBlock #loggedInLeft #loggedInLeftBlock {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    #headerLoggedInBlock #loggedInLeft #loggedInLeftBlock #loggedInLeftImage {
      width: 28%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #headerLoggedInBlock #loggedInLeft #loggedInLeftBlock #loggedInLeftImage img {
        height: 50px;
        width: 50px;
        border-radius: 50%; }
    #headerLoggedInBlock #loggedInLeft #loggedInLeftBlock #loggedInLeftName {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
#headerLoggedInBlock #loggedInRight {
  height: 100%;
  width: 14.5%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #headerLoggedInBlock #loggedInRight button {
    width: 95%;
    height: 50%;
    font-size: .6rem;
    background-color: #424242;
    color: red;
    border: 1px solid red;
    transition: all .25s ease;
    -webkit-transition: all .25s ease; }
    #headerLoggedInBlock #loggedInRight button:hover {
      background-color: #cc0000;
      color: white; }

/*********************
MAIN
*********************/
main {
  display: flex;
  height: 78%; }

/*********************
ASIDE
*********************/
aside {
  width: 25%;
  height: 100%;
  border-right: #2a9fd6; }

#asideHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #282828;
  background-color: #2a9fd6; }

#asideMain {
  height: 90%;
  overflow: scroll; }

.status {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #222;
  border-bottom: 1px solid #282828; }
  .status > div {
    display: flex;
    justify-content: center;
    align-items: center; }

.statusImage {
  width: 25%; }
  .statusImage img {
    height: 40px;
    width: 40px;
    border-radius: 50%; }

.statusName {
  width: 50%;
  font-size: .8rem;
  color: #888888; }

.statusOn {
  width: 25%; }
  .statusOn .statusOnCircle {
    height: 20px;
    width: 20px;
    background-color: #77b300;
    border-radius: 50%; }

/*********************
SECTION
*********************/
section {
  width: 75%;
  height: 100%; }

#sectionHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #282828;
  background-color: #2a9fd6; }

#sectionMain {
  height: 90%;
  overflow: scroll;
  padding-bottom: 12.5px;
  background-color: #888888; }

/*********************
MESSAGE
*********************/
.message {
  display: flex;
  flex-wrap: wrap;
  padding: 12.5px 0 0 0;
  background-color: #888888; }
  .message:last-child .messageBorderBlock {
    display: none; }

.messageInfo {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 125px; }

.messageInfoImage {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .messageInfoImage img {
    height: 60px;
    width: 60px;
    border-radius: 50%; }

.messageInfoName {
  height: 40%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  text-overflow: clip; }

.messageContent {
  width: 72.5%;
  height: auto;
  background-color: #CCCCCC;
  border-radius: 4px;
  box-shadow: 3px 3px 0px 0px black; }

.messageContentTime {
  color: #77b300;
  font-weight: lighter;
  font-size: 0.5rem;
  margin-bottom: 5px;
  margin-left: 2%;
  margin-top: 1%; }

.messageContentTimeBlock {
  font-size: .5rem; }

.messageContentText {
  margin-left: 2%;
  margin-right: 3%; }

.messageDelete {
  width: 7.5%;
  text-align: center;
  display: flex;
  justify-content: center; }

.messageDeleteCircle {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid #cc0000;
  border-radius: 50%;
  font-weight: lighter;
  font-size: .75rem;
  color: #cc0000;
  -webkit-transition: all .25s ease;
  transition: all .25s ease; }
  .messageDeleteCircle:hover {
    background-color: #cc0000;
    color: white; }

.messageDeleteX {
  position: absolute;
  top: .5px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.messageBorderBlock {
  width: 85%;
  height: 12.5px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 14px 5px -5px rgba(136, 136, 136, 0.25);
  -moz-box-shadow: 0px 14px 5px -5px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 14px 5px -5px rgba(136, 136, 136, 0.25); }

/*********************
FOOTER
*********************/
footer {
  height: 12%;
  background-color: #424242;
  color: black; }

#footerBlock {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

#messageForm {
  height: 100%;
  display: flex;
  align-items: center; }
  #messageForm input {
    height: 70%; }
  #messageForm #messageInput {
    width: 90%;
    padding-left: 2.5%; }
    #messageForm #messageInput:focus {
      outline: 0; }
  #messageForm #messageSubmit {
    width: 10%;
    font-weight: lighter;
    border: 1px solid #77b300;
    background-color: #424242;
    color: #77b300;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
    #messageForm #messageSubmit:hover {
      background-color: #77b300;
      color: white; }

/*********************
CREDITS
*********************/
#credits {
  font-size: .5rem;
  color: gray;
  padding: 25px 0;
  text-align: center; }
  #credits > a {
    color: gray;
    text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
